In [1]:
import pandas as pd

In [2]:
import numpy as np

In [3]:
from sklearn.preprocessing import MinMaxScaler

In [7]:
wines = pd.read_csv("https://archive.ics.uci.edu/ml/machine-learning-databases/wine/wine.data", names=['class','alcol','flavonoidi'], 
                    usecols=[0,1,7])

In [8]:
mms = MinMaxScaler()

#### AXIS = 1 => Lavora sulle righe

In [13]:
X = wines.drop("class",axis=1).values

In [14]:
X_norm = mms.fit_transform(X)

In [15]:
X_norm[:5]

array([[0.84210526, 0.57383966],
       [0.57105263, 0.51054852],
       [0.56052632, 0.61181435],
       [0.87894737, 0.66455696],
       [0.58157895, 0.49578059]])

In [17]:
test = wines.drop("alcol",axis=1).values

In [20]:
test = wines.drop(["alcol","flavonoidi","class"], axis=1).values

In [21]:
print(test)

[]

In [23]:
X_norm[:10]

array([[0.84210526, 0.57383966],
       [0.57105263, 0.51054852],
       [0.56052632, 0.61181435],
       [0.87894737, 0.66455696],
       [0.58157895, 0.49578059],
       [0.83421053, 0.64345992],
       [0.88421053, 0.45991561],
       [0.79736842, 0.45780591],
       [1.        , 0.55696203],
       [0.74473684, 0.592827  ]])

In [27]:
wines_std = wines.copy()

In [28]:
wines_std.head()

   class  alcol  flavonoidi
0      1  14.23        3.06
1      1  13.20        2.76
2      1  13.16        3.24
3      1  14.37        3.49
4      1  13.24        2.69

In [29]:
features = ["alcol","flavonoidi"]

In [30]:
to_std = wines_std[features]

In [31]:
wines_std[features] = (to_std - to_std.mean()) / to_std.std()

In [32]:
wines_std[:5]

   class     alcol  flavonoidi
0      1  1.514341    1.031908
1      1  0.245597    0.731565
2      1  0.196325    1.212114
3      1  1.686791    1.462399
4      1  0.294868    0.661485

In [33]:
from sklearn.preprocessing import StandardScaler

In [34]:
X_std = X.copy()

In [35]:
ss = StandardScaler()

In [36]:
X_std = ss.fit_transform(X_std)

In [37]:
X_std[:5]

array([[1.51861254, 1.03481896],
       [0.24628963, 0.73362894],
       [0.19687903, 1.21553297],
       [1.69154964, 1.46652465],
       [0.29570023, 0.66335127]])