In [2]:
import pandas as pd

iris = pd.read_csv("iris.csv")
iris.head(5)

   sepal.length  sepal.width  petal.length  petal.width variety
0           5.1          3.5           1.4          0.2  Setosa
1           4.9          3.0           1.4          0.2  Setosa
2           4.7          3.2           1.3          0.2  Setosa
3           4.6          3.1           1.5          0.2  Setosa
4           5.0          3.6           1.4          0.2  Setosa

In [3]:
iris.columns

Index(['sepal.length', 'sepal.width', 'petal.length', 'petal.width',
       'variety'],
      dtype='object')

In [4]:
iris.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 150 entries, 0 to 149
Data columns (total 5 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   sepal.length  150 non-null    float64
 1   sepal.width   150 non-null    float64
 2   petal.length  150 non-null    float64
 3   petal.width   150 non-null    float64
 4   variety       150 non-null    object
dtypes: float64(4), object(1)
memory usage: 6.0+ KB

In [5]:
Y = iris['variety']

In [6]:
Y.head()

0    Setosa
1    Setosa
2    Setosa
3    Setosa
4    Setosa
Name: variety, dtype: object

In [2]:
import pandas as pd

iris = pd.read_csv("iris.csv")
iris.head(5)

   sepal.length  sepal.width  petal.length  petal.width variety
0           5.1          3.5           1.4          0.2  Setosa
1           4.9          3.0           1.4          0.2  Setosa
2           4.7          3.2           1.3          0.2  Setosa
3           4.6          3.1           1.5          0.2  Setosa
4           5.0          3.6           1.4          0.2  Setosa

In [5]:
iris.head(1)

   sepal.length  sepal.width  petal.length  petal.width variety
0           5.1          3.5           1.4          0.2  Setosa

In [6]:
iris['petal.width'].head()

0    0.2
1    0.2
2    0.2
3    0.2
4    0.2
Name: petal.width, dtype: float64

In [1]:
iris.head()

NameError: name 'iris' is not defined

In [2]:
import pandas as pd

iris = pd.read_csv("iris.csv")
iris.head(5)

   sepal.length  sepal.width  petal.length  petal.width variety
0           5.1          3.5           1.4          0.2  Setosa
1           4.9          3.0           1.4          0.2  Setosa
2           4.7          3.2           1.3          0.2  Setosa
3           4.6          3.1           1.5          0.2  Setosa
4           5.0          3.6           1.4          0.2  Setosa

In [3]:
iris.tail(10)

     sepal.length  sepal.width  petal.length  petal.width    variety
140           6.7          3.1           5.6          2.4  Virginica
141           6.9          3.1           5.1          2.3  Virginica
142           5.8          2.7           5.1          1.9  Virginica
143           6.8          3.2           5.9          2.3  Virginica
144           6.7          3.3           5.7          2.5  Virginica
145           6.7          3.0           5.2          2.3  Virginica
146           6.3          2.5           5.0          1.9  Virginica
147           6.5          3.0           5.2          2.0  Virginica
148           6.2          3.4           5.4          2.3  Virginica
149           5.9          3.0           5.1          1.8  Virginica

In [1]:
iris.copy()

NameError: name 'iris' is not defined

# Ciao

## Ciao 2

In [2]:
import pandas as pd

In [3]:
iris = pd.read_csv("iris.csv")

In [4]:
iris.head()

   sepal.length  sepal.width  petal.length  petal.width variety
0           5.1          3.5           1.4          0.2  Setosa
1           4.9          3.0           1.4          0.2  Setosa
2           4.7          3.2           1.3          0.2  Setosa
3           4.6          3.1           1.5          0.2  Setosa
4           5.0          3.6           1.4          0.2  Setosa

In [5]:
iris.tail(10)

     sepal.length  sepal.width  petal.length  petal.width    variety
140           6.7          3.1           5.6          2.4  Virginica
141           6.9          3.1           5.1          2.3  Virginica
142           5.8          2.7           5.1          1.9  Virginica
143           6.8          3.2           5.9          2.3  Virginica
144           6.7          3.3           5.7          2.5  Virginica
145           6.7          3.0           5.2          2.3  Virginica
146           6.3          2.5           5.0          1.9  Virginica
147           6.5          3.0           5.2          2.0  Virginica
148           6.2          3.4           5.4          2.3  Virginica
149           5.9          3.0           5.1          1.8  Virginica

In [6]:
iris.columns

Index(['sepal.length', 'sepal.width', 'petal.length', 'petal.width',
       'variety'],
      dtype='object')

In [7]:
iris.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 150 entries, 0 to 149
Data columns (total 5 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   sepal.length  150 non-null    float64
 1   sepal.width   150 non-null    float64
 2   petal.length  150 non-null    float64
 3   petal.width   150 non-null    float64
 4   variety       150 non-null    object
dtypes: float64(4), object(1)
memory usage: 6.0+ KB

In [8]:
Y = iris["variety"]

In [9]:
Y.head()

0    Setosa
1    Setosa
2    Setosa
3    Setosa
4    Setosa
Name: variety, dtype: object

In [10]:
type(Y)

pandas.core.series.Series

In [13]:
X = iris[["sepal.length","sepal.width","petal.length"]]

In [14]:
X.head()

   sepal.length  sepal.width  petal.length
0           5.1          3.5           1.4
1           4.9          3.0           1.4
2           4.7          3.2           1.3
3           4.6          3.1           1.5
4           5.0          3.6           1.4

In [20]:
X = iris.drop("variety", axis=1)

In [21]:
X.head()

   sepal.length  sepal.width  petal.length  petal.width
0           5.1          3.5           1.4          0.2
1           4.9          3.0           1.4          0.2
2           4.7          3.2           1.3          0.2
3           4.6          3.1           1.5          0.2
4           5.0          3.6           1.4          0.2

In [22]:
X = iris.drop(1, axis=0)

In [23]:
X.head()

   sepal.length  sepal.width  petal.length  petal.width variety
0           5.1          3.5           1.4          0.2  Setosa
2           4.7          3.2           1.3          0.2  Setosa
3           4.6          3.1           1.5          0.2  Setosa
4           5.0          3.6           1.4          0.2  Setosa
5           5.4          3.9           1.7          0.4  Setosa

In [24]:
X = iris.drop(2, axis=0)

In [25]:
X.head()

   sepal.length  sepal.width  petal.length  petal.width variety
0           5.1          3.5           1.4          0.2  Setosa
1           4.9          3.0           1.4          0.2  Setosa
3           4.6          3.1           1.5          0.2  Setosa
4           5.0          3.6           1.4          0.2  Setosa
5           5.4          3.9           1.7          0.4  Setosa

In [26]:
iris_sampled = iris.sample(frac=1)

In [27]:
iris_sampled.head()

     sepal.length  sepal.width  petal.length  petal.width     variety
103           6.3          2.9           5.6          1.8   Virginica
81            5.5          2.4           3.7          1.0  Versicolor
1             4.9          3.0           1.4          0.2      Setosa
2             4.7          3.2           1.3          0.2      Setosa
69            5.6          2.5           3.9          1.1  Versicolor

In [28]:
iris_sampled.iloc[3]

sepal.length       4.7
sepal.width        3.2
petal.length       1.3
petal.width        0.2
variety         Setosa
Name: 2, dtype: object

In [29]:
iris_sampled.loc[2]

sepal.length       4.7
sepal.width        3.2
petal.length       1.3
petal.width        0.2
variety         Setosa
Name: 2, dtype: object

In [30]:
iris_sampled.loc[2,"variety"]

'Setosa'

In [31]:
iris_sampled.iloc[:10,1]

103    2.9
81     2.4
1      3.0
2      3.2
69     2.5
24     3.4
143    3.2
40     3.5
74     2.9
7      3.4
Name: sepal.width, dtype: float64

In [33]:
iris.shape

(150, 5)

In [34]:
iris.describe()

       sepal.length  sepal.width  petal.length  petal.width
count    150.000000   150.000000    150.000000   150.000000
mean       5.843333     3.057333      3.758000     1.199333
std        0.828066     0.435866      1.765298     0.762238
min        4.300000     2.000000      1.000000     0.100000
25%        5.100000     2.800000      1.600000     0.300000
50%        5.800000     3.000000      4.350000     1.300000
75%        6.400000     3.300000      5.100000     1.800000
max        7.900000     4.400000      6.900000     2.500000

In [35]:
iris.max()

sepal.length          7.9
sepal.width           4.4
petal.length          6.9
petal.width           2.5
variety         Virginica
dtype: object

In [36]:
iris["sepal.length"].max()

np.float64(7.9)

In [38]:
iris["variety"].unique()

array(['Setosa', 'Versicolor', 'Virginica'], dtype=object)

In [39]:
long_petal_mask = iris["petal.length"] > iris["petal.length"].mean()

In [40]:
long_petal_mask

0      False
1      False
2      False
3      False
4      False
       ...
145     True
146     True
147     True
148     True
149     True
Name: petal.length, Length: 150, dtype: bool

In [41]:
long = iris[long_petal_mask]

In [42]:
long.head()

    sepal.length  sepal.width  petal.length  petal.width     variety
50           7.0          3.2           4.7          1.4  Versicolor
51           6.4          3.2           4.5          1.5  Versicolor
52           6.9          3.1           4.9          1.5  Versicolor
53           5.5          2.3           4.0          1.3  Versicolor
54           6.5          2.8           4.6          1.5  Versicolor

In [43]:
iris_copy = iris.copy()

In [45]:
iris_copy[ iris_copy["variety"] == "setosa"] = "undefined"

In [46]:
iris_copy["variety"].unique()

array(['Setosa', 'Versicolor', 'Virginica'], dtype=object)

In [48]:
iris_copy[ iris_copy["variety"] == "Setosa"] = "undefined"

In [49]:
iris_copy["variety"].unique()

array(['undefined', 'Versicolor', 'Virginica'], dtype=object)

In [1]:
import pandas as pd

iris = pd.read_csv("iris.csv")
iris.head(5)

   sepal.length  sepal.width  petal.length  petal.width variety
0           5.1          3.5           1.4          0.2  Setosa
1           4.9          3.0           1.4          0.2  Setosa
2           4.7          3.2           1.3          0.2  Setosa
3           4.6          3.1           1.5          0.2  Setosa
4           5.0          3.6           1.4          0.2  Setosa

In [2]:
X = iris.drop("variety",axis=1)

In [3]:
X.head()

   sepal.length  sepal.width  petal.length  petal.width
0           5.1          3.5           1.4          0.2
1           4.9          3.0           1.4          0.2
2           4.7          3.2           1.3          0.2
3           4.6          3.1           1.5          0.2
4           5.0          3.6           1.4          0.2

In [8]:
X_norm = (X - X.min() ) / (X.max() - X.min())

In [10]:
X_norm.head()

   sepal.length  sepal.width  petal.length  petal.width
0      0.222222     0.625000      0.067797     0.041667
1      0.166667     0.416667      0.067797     0.041667
2      0.111111     0.500000      0.050847     0.041667
3      0.083333     0.458333      0.084746     0.041667
4      0.194444     0.666667      0.067797     0.041667

In [11]:
iris.sort_values("petal.length").head()

    sepal.length  sepal.width  petal.length  petal.width variety
22           4.6          3.6           1.0          0.2  Setosa
13           4.3          3.0           1.1          0.1  Setosa
14           5.8          4.0           1.2          0.2  Setosa
35           5.0          3.2           1.2          0.2  Setosa
16           5.4          3.9           1.3          0.4  Setosa

In [12]:
groupped_variety = iris.groupby("variety")

In [13]:
groupped_variety.mean()

            sepal.length  sepal.width  petal.length  petal.width
variety
Setosa             5.006        3.428         1.462        0.246
Versicolor         5.936        2.770         4.260        1.326
Virginica          6.588        2.974         5.552        2.026

In [14]:
import numpy as np

In [15]:
iris.apply(np.count_nonzero, axis=0).head()

sepal.length    150
sepal.width     150
petal.length    150
petal.width     150
variety         150
dtype: int64

In [16]:
iris.apply(np.count_nonzero, axis=1).head()

0    5
1    5
2    5
3    5
4    5
dtype: int64

In [20]:
X = iris.drop("variety", axis=1)

In [23]:
X = X.map(lambda val:int(round(val,0)))

In [24]:
X.head()

   sepal.length  sepal.width  petal.length  petal.width
0             5            4             1            0
1             5            3             1            0
2             5            3             1            0
3             5            3             2            0
4             5            4             1            0

In [25]:
iris_nan = iris.copy()

In [28]:
samples = np.random.randint(iris.shape[0], size=(10))

In [29]:
iris_nan.loc[samples, "petal.length"] = None

In [30]:
iris_nan["petal.length"].isnull().sum()

np.int64(10)

In [31]:
iris.shape[0]

150

In [32]:
iris.shape[1]

5

In [33]:
mean_petal_length = iris_nan["petal.length"].mean()

In [34]:
iris_nan["petal.length"].isnull().sum()

np.int64(10)

In [41]:
iris_nan["petal.length"] = iris_nan["petal.length"].fillna(mean_petal_length)

In [42]:
iris_nan["petal.length"].isnull().sum()

np.int64(0)

In [45]:
import matplotlib.pyplot as plt

ModuleNotFoundError: No module named 'matplotlib'