In [1]:
import pandas as pd

In [2]:
import numpy as np

In [4]:
from sklearn.datasets import fetch_california_housing

In [6]:
data = fetch_california_housing()

In [7]:
X = data.data

In [8]:
Y = data.target

In [12]:
from sklearn.model_selection import train_test_split

In [13]:
X.shape

(20640, 8)

In [14]:
X_train, X_test, Y_train, Y_test = train_test_split(X,Y, test_size=0.3)

In [15]:
X_train.shape

(14448, 8)

In [17]:
X_test.shape

(6192, 8)

In [20]:
data = fetch_california_housing(as_frame=True)

In [23]:
house_df = data.frame

In [24]:
house_df.head()

,MedInc,HouseAge,AveRooms,AveBedrms,Population,AveOccup,Latitude,Longitude,MedHouseVal
0,8.3252,41.0,6.984127,1.023810,322.0,2.555556,37.88,-122.23,4.526
1,8.3014,21.0,6.238137,0.971880,2401.0,2.109842,37.86,-122.22,3.585
2,7.2574,52.0,8.288136,1.073446,496.0,2.802260,37.85,-122.24,3.521
3,5.6431,52.0,5.817352,1.073059,558.0,2.547945,37.85,-122.25,3.413
4,3.8462,52.0,6.281853,1.081081,565.0,2.181467,37.85,-122.25,3.422

In [25]:
house_test_df = house_df.sample(frac=0.3)

In [26]:
house_train_df = house_df.drop(house_test_df.index)

In [27]:
print("Numero Train Set:"+str(house_train_df.shape[0]))

Numero Train Set:14448

In [28]:
print("Numero Test Set:"+str(house_test_df.shape[0]))

Numero Test Set:6192

In [29]:
house_test_df.head()

,MedInc,HouseAge,AveRooms,AveBedrms,Population,AveOccup,Latitude,Longitude,MedHouseVal
15887,1.4133,15.0,4.303605,1.052498,4737.0,2.996205,37.73,-122.38,2.034
5550,4.6923,44.0,5.322222,1.017778,1287.0,2.860000,33.96,-118.38,2.990
7610,2.1250,37.0,4.596000,1.120000,1016.0,4.064000,33.88,-118.22,1.019
16105,3.4919,44.0,5.138418,1.031073,1137.0,3.211864,37.75,-122.50,2.718
19175,5.7204,15.0,6.553191,0.992908,786.0,2.787234,38.37,-122.65,3.441

In [30]:
house_train_df.head()

,MedInc,HouseAge,AveRooms,AveBedrms,Population,AveOccup,Latitude,Longitude,MedHouseVal
1,8.3014,21.0,6.238137,0.971880,2401.0,2.109842,37.86,-122.22,3.585
2,7.2574,52.0,8.288136,1.073446,496.0,2.802260,37.85,-122.24,3.521
3,5.6431,52.0,5.817352,1.073059,558.0,2.547945,37.85,-122.25,3.413
4,3.8462,52.0,6.281853,1.081081,565.0,2.181467,37.85,-122.25,3.422
5,4.0368,52.0,4.761658,1.103627,413.0,2.139896,37.85,-122.25,2.697